<div class="card produto">
    <h5 class="card-header">Geladeira</h5>
    <div class="card-body">
        <h5 class="card-title">Geladeira Eletrolux</h5>
        <p class="card-text">
            A última novidade em tecnologia agora na sua cozinha. Chega de ficar mudando seus alimentos de lugar até encontrar espaço suficiente para organizá-los. Com a Geladeira Top Freezer com dispenser de água 400l Platinum (DW44S) todos os mantimentos comprados
            no mercado, na feira ou no horti-fruti vão estar protegidos e conservados por mais tempo.
        </p>
    </div>
</div>