<div class="card produto">
    <h5 class="card-header">Smartphone</h5>
    <div class="card-body">
        <h5 class="card-title">Smartphone Mi Note 10</h5>
        <p class="card-text">
            Pela primeira em um celular, o Mi Note 10 trás uma câmera de 108MP com resolução de 12032 x 9024 em uma única foto, 12 vezes a resolução de uma imagem 4K! Com um sensor enorme de 1/1.33"", a câmera no Mi Note 10 ultrapassa a maioria das câmeras digitais.
            Capturando mais iluminação e detalhes, é possível reproduzir a beleza das paisagens. Não é fantástico?
        </p>
    </div>
</div>