<div class="card produto">
    <h5 class="card-header">Televisão</h5>
    <div class="card-body">
        <h5 class="card-title">TV LG 49'</h5>
        <p class="card-text">
            A LG NanoCell TV através das suas nanopartículas de 1nm, filtram as cores impuras e revelam as cores puras, elevando todos os padrões de qualidade. O resultado é uma experiência visual impressionante. Os recursos VRR e HGiG da NanoCell possibilitam melhor
            qualidade de imagem, com menos falhas e tremidas. Agora, os mundos virtuais explorados serão difíceis de distinguir da realidade.
        </p>
    </div>
</div>