<div class="card produto">
    <h5 class="card-header">Máquina de lavar</h5>
    <div class="card-body">
        <h5 class="card-title">Máquina de Lavar Brastemp</h5>
        <p class="card-text">
            A nova Máquina de Lavar Brastemp 12kg conta com Design moderno e exclusivo e a alta Performance do Ciclo Tira-Manchas Advanced para retirar mais de 40 manchas*, incluindo gordura e canetinha. E para o máximo Cuidado com suas Roupas, a lavadora possui
            o Ciclo Antibolinhas
        </p>
    </div>
</div>